<div class="row align-items-center h-100">
  <div class="col-12 mx-auto">
    <div class="jumbotron mt-4">
      <form>

        <div class="form-group">
          <label for="city">Podaj miasto:</label>
          <input
            type="text"
            class="form-control"
            id="city"
            placeholder="Miasto"
            (change)="getWeather($event)"
            (keydown)="handleKeyDown($event)"
            required
          />
        </div>

      </form>
    </div>

    <div [ngClass]="{'hidden': city.length === 0}" class="jumbotron">
      <div class="weatherData">
        <h1>{{ city }}&nbsp;</h1>
        <div class="row align-items-center">
          <img
            class="img-thumbnail ml-2"
            [alt]="weatherDescription"
            [src]="iconUrl"
          />
          <h2 class="ml-3 display-4">{{ temperature | kelvinToCelsius }}</h2>
        </div>

        <p>{{ weatherDescription }}</p>

        <h6>Temperatura odczuwalna:</h6>
        <p>{{ feels_like | kelvinToCelsius }}</p>

        <h6>Wilgotność:</h6>
        <p>{{ humidity / 100 | percent }}</p>

        <h6>Ciśnienie:</h6>
        <p>{{ pressure }} hPa</p>
      </div>
    </div>
  </div>
</div>
