<div class="row align-items-center h-100">
  <div class="col-12 mx-auto">
    <div class="jumbotron mt-4">
      <form>
        <div class="form-group">
          <label for="APIInput">Twój klucz API:</label>
          <input
            type="text"
            class="form-control"
            id="APIInput"
            placeholder="Klucz API"
            (input)="key = $event.target.value"
            required
          />
        </div>

        <div class="form-group">
          <label for="city">Podaj miasto:</label>
          <input
            type="text"
            class="form-control"
            id="city"
            placeholder="Miasto"
            (input)="city = $event.target.value"
            required
          />
        </div>

        <div class="form-group text-center">
          <button
            type="button"
            class="btn btn-secondary mt-4"
            (click)="getWeather($event)"
          >
            Sprawdź pogodę
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="weatherDescription.length" class="jumbotron">
      <div>
        <h1>{{ city }}</h1>
        <div class="row align-items-center">
          <img
            class="img-thumbnail ml-2"
            [alt]="weatherDescription"
            [src]="iconUrl"
          />
          <h2 class="ml-3 display-4">{{ temperature | kelvinToCelsius }}</h2>
        </div>

        <p>{{ weatherDescription }}</p>

        <h6>Temperatura odczuwalna:</h6>
        <p>{{ feels_like | kelvinToCelsius }}</p>

        Wilgotność:
        <p>{{ humidity / 100 | percent }}</p>

        Ciśnienie:
        <p>{{ pressure }} hPa</p>
      </div>
    </div>
  </div>
</div>
