<div class="row align-items-center h-100">
  <div class="col-12 mx-auto">
    <div class="jumbotron mt-3 pt-3 pb-2 mb-3">
      <form>

        <div class="form-group">
          <label for="city">Sprawdź pogodę w mieście:</label>
          <input
            type="text"
            class="form-control"
            id="city"
            placeholder="np. Katowice"
            (change)="getWeather($event)"
            (keydown)="handleKeyDown($event)"
            required
          />
          <div class="invalid-feedback">
            Brak danych dla takiego miasta.  
          </div>
        </div>

      </form>
    </div>

    <div [ngClass]="{'hidden': city.length === 0}" class="jumbotron mb-3">
      <div>
        <h1>{{ city }} &nbsp;</h1>
        <div class="row align-items-center">
          <img
            class="img-thumbnail ml-2"
            [alt]="weatherDescription"
            [src]="iconUrl"
          />
          <h2 class="ml-3 display-4 temp">{{ temperature | kelvinToCelsius }}&nbsp;</h2>
        </div>

        <p>{{ weatherDescription }} &nbsp;</p>

        <h6>Temperatura odczuwalna: &nbsp;</h6>
        <p>{{ feels_like | kelvinToCelsius }} &nbsp;</p>

        <h6>Wilgotność: &nbsp;</h6>
        <p>{{ humidity / 100 | percent }} &nbsp;</p>

        <h6>Ciśnienie: &nbsp;</h6>
        <p>{{ pressure | pressure }} &nbsp;</p>
      </div>
    </div>
  </div>
</div>
