@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    height: 100vh;
    background: url('./assets/bg.jpg') center no-repeat; // Image by Drew Heys from Unsplash.com
    font-family: 'Poppins', sans-serif;
}

.hidden {
    opacity: 0;
}
